{{#if displayAnswerForm}}
<form id="answer-form">
  <label for="author">Author:</label><br><!-- TODO link this up with user? -->
  {{input value=author id="author"}}<br>
  <label for="details">Your Answer to the Question: </label><br>
  {{textarea value=details cols="80" rows="6"}}<br>
  <button {{action 'saveAnswer'}} class="btn btn-success">Answer</button>
</form>
{{else}}
<button {{action 'displayAnswerForm'}} class="btn btn-primary">Add answer</button>
{{/if}}
