<div class="panel panel-info">
  <div class="panel-info panel-heading">
    {{#link-to 'question' question.id}}
    <h3>{{question.title}}</h3>
    {{/link-to}}
    <h5>{{question.author}}</h5> <!-- TODO link this to other questions that user has asked -->
  </div>
  <!-- <div class="panel-body">
    <p>{{question.details}}</p>
  </div> -->
  <div class="panel-footer">
    <h5>Tags: {{question.tags}}</h5>
    <!-- TODO see if you can split these in js -->
  </div>
  <!-- <div class="panel-footer">
    {{answer-display answers=answers}}
  </div> -->
  <div class="panel-footer">
    {{add-answer saveAnswer="saveAnswer" question=question}}
  </div>
</div>
