{{#if updateQuestionForm}}
<h2>Edit Question</h2>
<form>
  <label for="question">Question Title:</label><br>
  {{input value=title id="title" placeholder=question.title}}<br>
  <label for="author">Author:</label><br><!-- TODO link this up with user? -->
  {{input value=author id="author" placeholder=question.author}}<br>
  <label for="details">Explain your question in more detail: </label><br>
  {{textarea value=details cols="80" rows="6" placeholder=question.details}}<br>
  <label for="tags">Add tags:</label><br> <!-- TODO error handle -->
  {{input value=tags id="tags" placeholder=question.tags}}<br><br>
  <button {{action 'updateQuestion' question}} class="btn btn-success">Update</button>
</form>
{{else}}
<button {{action 'updateQuestionForm'}} class="btn btn-info">Edit Question</button>
{{/if}}
